# pip install -r requirements.txt

# base ----------------------------------------
attrdict
tqdm
PyDAQmx
pyserial

# torch ---------------------------------------
torch
torchvision
pytorch-ignite
torchsummary

# UI application ---------------------------------
PyQt5

# data process --------------------------------
numpy
pandas
scipy
sklearn
# plotting ------------------------------------
matplotlib

